@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right,#101010, #303030 );
}

.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: hsl(240, 4%, 15%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.login-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #eee;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #b3b3b3;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #2a2a2a;
    color: #fff;
}

input::placeholder {
    color: #757575;
}

button {
    width: 100%;
    background-color: #ff9800;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #fb8c00;
}

.toggle-link {
    color: #eee;
    cursor: pointer;
    font-weight: bold;
}

.toggle-link:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #b3b3b3;
}
