@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0; /* Light background */
}

.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    color: #333333; /* Dark gray text */
}

.login-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333333; /* Dark gray text */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Dark gray text */
    font-size: 16px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff; /* White background */
    color: #333333; /* Dark gray text */
    font-size: 16px;
}

input::placeholder {
    color: #888888; /* Medium gray placeholder text */
}

button {
    width: 100%;
    background-color: rgb(64, 93, 114); /* Blue button */
    color: #ffffff; /* White text */
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.toggle-link {
    color: #007bff; /* Blue link */
    cursor: pointer;
    font-weight: bold;
}

.toggle-link:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #333333; /* Dark gray text */
}

.error {
    color: #ff0000; /* Red error text */
    font-size: 14px;
    margin-top: 5px;
}
