/* Navbar.css */

/* General Styles */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita scroll horizontal */
}

/* Navbar Styles */
.navbar {
    width: 100vw; /* Asegura que ocupe todo el ancho */
    background-color: rgb(64, 93, 114); /* Color Primario */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navbar-brand {
    color: rgb(255, 248, 243); /* Color de Texto */
    font-size: 24px;
    font-weight: bold;
}

/* Navbar Links */
.navbar-links {
    list-style: none;
    display: flex;
    margin: 0 50px;
    padding: 0;
}

.navbar-links li {
    margin-left: 30px;
}

.navbar-links li a,
.navbar-links li .logout-button {
    text-decoration: none;
    color: rgb(247, 231, 220); /* Color de Fondo */
    font-size: 18px;
    transition: color 0.3s;
}

/* Adjustments for Logout Button */
.navbar-links li .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Hover Styles */
.navbar-links li a:hover,
.navbar-links li .logout-button:hover {
    color: rgb(117, 134, 148); /* Color Secundario */
    text-decoration: underline;
}

