/* selectionPage.css */

/* General Styles */
.selection-page {
    padding: 60px 20px;
    background-color: rgb(255, 248, 243); /* Same background as .info-section */
    min-height: 100vh;
}

.selection-page h1 {
    color: rgb(64, 93, 114); /* Primary color */
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.selection-page form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 30px;
}

.number-input {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    }

.form-group label {
    display: block;
    color: rgb(64, 93, 114); /* Primary color */
    font-size: 20px;
    margin-bottom: 10px;
}

.form-group select {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    color: rgb(64, 93, 114); /* Primary color */
    border: 1px solid rgb(117, 134, 148); /* Secondary color */
    border-radius: 5px;
    background-color: rgb(255, 248, 243); /* Same as background */
}

.form-group select:focus {
    outline: none;
    border-color: rgb(64, 93, 114); /* Primary color */
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.button-container button {
    background-color: rgb(64, 93, 114); /* Primary color */
    color: rgb(255, 248, 243); /* Text color */
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(117, 134, 148); /* Secondary color */
}

.alert {
    background-color: rgba(64, 93, 114, 0.7); /* Overlay background */
    color: rgb(255, 248, 243); /* Text color */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .selection-page h1 {
        font-size: 28px;
    }

    .form-group label {
        font-size: 18px;
    }

    .form-group select {
        font-size: 16px;
    }

    .button-container button {
        font-size: 18px;
        padding: 12px 25px;
    }
}
